[submodule "tokenization"]
	path = tokenization
	url = https://github.com/MemaroX/tokenization.git
[submodule "embedding_layer"]
	path = embedding_layer
	url = https://github.com/MemaroX/embedding_layer.git
[submodule "positional_encoding"]
	path = positional_encoding
	url = E:\\Mema-Lab\\Menari\\Menari-core\\positional_encoding
