[submodule "tokenization"]
	path = tokenization
	url = https://github.com/MemaroX/tokenization.git
[submodule "embedding_layer"]
	path = embedding_layer
	url = https://github.com/MemaroX/embedding_layer.git
[submodule "positional_encoding"]
	path = positional_encoding
	url = https://github.com/MemaroX/positional_encoding.git
[submodule "attention_mechanism"]
	path = attention_mechanism
	url = https://github.com/MemaroX/attention_mechanism.git
[submodule "feed_forward_networks"]
	path = feed_forward_networks
	url = https://github.com/MemaroX/feed_forward_networks.git
[submodule "layer_norm_residual_connections"]
	path = layer_norm_residual_connections
	url = https://github.com/MemaroX/layer_norm_residual_connections.git